// Mixins
// ---------------------------------------/

@function em( $fontSize, $contextSize: 16 ) {
  @return 1em * ( $fontSize / $contextSize ); }

@function pct( $size, $context ) {
  @return percentage( $size / $context ); }

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// media querie tools
@mixin bp($screen_width) {
  @media (max-width: $screen_width) { @content; }
}

@mixin bp_main {
  @media (max-width: 1440px) { @content; }
}